# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\devsecops-project-patterns\strategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
